
.app-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--gris2);
  padding: 4rem;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  
}

body {
  min-height: 100%;
  background-color: var(--gris1);
  /*font-size: 16px; 
  font-size: 1.6rem;*/
  font-family: var(--textFont);
}

.container{ 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
}

.row{
  width: 100%;
}

.appheader{
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.list-group{
  display: flex;
  justify-content: center;
  
}
/*
.contador{
  align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}*/

.card-header{
  align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
}

.cglobal{
  align-items: center;
  justify-content: center;
  display: flex;
}


.cglobalspace{
  width: 50%;
  justify-content: space-between;
  display: flex;
}


